<?xml version="1.0" encoding="utf-8"?>
<log4net>
  <!--<root >
    <level value="ALL"/>
    <appender-ref ref="AdoNetAppender"/>
  </root>-->
  <logger name="err">
    <level value="ERROR" />
   
  </logger>
  <logger name="info">
    <level value="INFO" />
  
  </logger>
  <logger name="UIOperinfo">
    <level value="INFO" />
    <appender-ref ref="UIOperinfo" />
  </logger>
  <!-- 错误日志类-->
  <logger name="logerror">
    <level value="ALL" />
    <appender-ref ref="ErrorAppender" />
  </logger>
  <!-- 信息日志类 -->
  <logger name="loginfo">
    <level value="ALL" />
    <appender-ref ref="InfoAppender" />
  </logger>
  
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1" />
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <connectionString value="data source=192.168.0.220;initial catalog=Billiard;integrated security=False;persist security info=True;User ID=aspuser;Password=ty123456" />
    <commandText value="INSERT INTO PCLog ([Logger],[ExInfo],[UserId],[UserName],[Info]) VALUES (@logger, @ex, @uid, @uname, @info)" />
    <!--<commandText value="INSERT INTO PCLog ([Logger],[ExInfo]) VALUES (@logger, @ex)" />-->
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@ex" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>
    <parameter>
      <parameterName value="@uid" />
      <dbType value="Int32" />
      <layout type="TeYou.Billards.Common.Util.CustomLayout" >
        <conversionPattern value="%property{UserId}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@uname" />
      <dbType value="String" />
      <size value="50" />
      <layout type="TeYou.Billards.Common.Util.CustomLayout" >
        <conversionPattern value="%property{UserName}" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@info" />
      <dbType value="String" />
      <size value="500" />
      <layout type="TeYou.Billards.Common.Util.CustomLayout" >
        <conversionPattern value="%property{Info}" />
      </layout>
    </parameter>
  </appender>

  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log//LogError//" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="30" />
    <!--<param name="MaxFileSize" value="500" />-->
    <param name="MaximumFileSize" value="2MB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Composite" />
    <param name="CountDirection" value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n异常时间：%d [%t] %n异常级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
    </layout>
  </appender>
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log//LogInfo//" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="30" />
    <!--<param name="MaxFileSize" value="500" />-->
    <param name="MaximumFileSize" value="2MB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Composite" />
    <param name="CountDirection" value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
    </layout>
  </appender>
  <appender name="UIOperinfo" type="log4net.Appender.RollingFileAppender">
    <param name="File" value="Log//LogInfo//" />
    <param name="AppendToFile" value="true" />
    <param name="MaxSizeRollBackups" value="30" />
    <!--<param name="MaxFileSize" value="500" />-->
    <param name="MaximumFileSize" value="2MB" />
    <param name="StaticLogFileName" value="false" />
    <param name="DatePattern" value="yyyyMMdd" />
    <param name="RollingStyle" value="Composite" />
    <param name="CountDirection" value="1"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n日志时间：%d [%t] %n日志级别：%-5p %n异 常 类：%c [%x] %n%m %n " />
    </layout>
  </appender>
  <appender name="UdpAppender" type="log4net.Appender.UdpAppender">
    <localPort value="1122" />
    <remoteAddress value="192.168.0.120" />
    <remotePort value="5252" />
    <layout type="log4net.Layout.PatternLayout, log4net">
      <conversionPattern value="%-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
</log4net>